@{
    ViewData["Title"] = "Universidade <Full/Bar>";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo a maior Universidade do Brasil</h1>
    <p>Saiba mais sobre nós <a href="https://fullbar.com.br/">Full/Bar</a>.</p>
</div>
