@model TesteFullBar.Models.NotaAluno

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NotaAluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Id_Aluno" value="@ViewBag.IdAluno" />
            <div class="form-group">
                <label asp-for="Id_Disciplina" class="control-label">Disciplina</label>
                <select asp-for="Id_Disciplina" class="col-md-10 form-control" asp-items="@ViewBag.Disciplinas">
                    <option value="">[Selecione]</option>
                </select>
                <span asp-validation-for="Id_Disciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar Alteração" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.IdAluno">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
